/* สำหรับ container ของรายการสถานที่ */
.destination {
  background-color: #D9D7EF; /* ตัวอย่างสีฟ้าอ่อน */
  height: 100vh; /* กำหนดให้เต็มความสูงของหน้าจอ */
  width: 100%; /* กำหนดให้เต็มความกว้างของหน้าจอ */
}

.destination .list-place {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1001;
    top: 120%;
  }
  
  /* สำหรับรายการของสถานที่ */
  .destination .place-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 200px;
  }
  
  /* สำหรับแต่ละรายการสถานที่ */
  .destination .place-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  /* เพิ่มสไตล์เมื่อไม่มีสถานที่ใกล้เคียง */
  .destination .place-item.no-places {
    text-align: center;
    color: #888;
  }
  

  /* MapComponent.css */

/* สไตล์ของกล่องปุ่ม */
.destination .pickup-button-container {
    width: 100%;
    background-color: #D9D7EF;
    padding: 10px;
    position: fixed; /* ใช้ fixed เพื่อให้ปุ่มอยู่คงที่ที่ด้านล่าง */
    bottom: 10px; /* ตั้งค่าให้ปุ่มอยู่ห่างจากด้านล่าง */
    left: 0;
    z-index: 9999; /* ปรับ z-index ให้สูงขึ้น */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* เพิ่มเงาให้ปุ่ม */
}

/* ปุ่มเลือกจุดรับ */
.destination .pickup-button {
    padding: 10px;
    background-color: #7F6ACB;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-weight: bold; /* ทำให้ข้อความตัวหนา */
}

.destination .pickup-button:hover {
    background-color: #a696e0; /* สีเมื่อ hover */
}
