/* CSS for AdminSidebar */

.sider {
    height: 100vh;
    background-color: #8792E7;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .sider .logo {
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size: 22px;
    transition: all 0.3s;
  }
  
  .sider .logo.collapsed {
    font-size: 16px;
  }
  
  .sider .logo-circle {
    background: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 10px;
    transition: all 0.3s;
  }
  
  .sider .logo-circle.collapsed {
    width: 50px;
    height: 50px;
  }
  
  .sider .menu {
    background-color: transparent;
    font-weight: bold;
  }
  
  .sider .menu-item {
    font-size: 16px; /* ขนาดฟอนต์ของ Menu Item */
    height: 60px; /* ความสูงของ Item */
    line-height: 80px; /* จัดตำแหน่งให้อยู่ตรงกลาง */
    font-weight: bold; /* ตัวหนาทุก Item */
  }
  
  .sider .menu-item.logout {
    color: #ff4d4f; /* สีแดงสำหรับ Log out */
  }
  
  .sider .menu-item.default {
    color: #000; /* สีดำสำหรับ Item อื่นๆ */
  }
  